{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% include 'base_style.html' %}
    </head>
    <body style="background-image: url('{% static "images/bg-01.jpg" %}');">
        {% csrf_token %}
        {% include 'nav.html' %}
        <div class="align-items-center jumbotron row">
            <div class="col">
              Name : <span class="">{{data.name}}</span>
            </div>
            <div class="col">
              username : <span class="">{{data.username}}</span>
            </div>
            <div class="col">
             email : <span class="">{{data.email}}</span>
            </div>
          </div>
          <div class="modal fade" id="Unarchived_modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row" style="padding: inherit;">
                            <div class="col-12">
                                <p class="font_15 mb-2" style="font-size:27px">Change the status?</p>
                            </div>
                            <div class="form-check">
                               
                                <label class="form-check-label" style="font-size:20px" for="gridCheck">
                                    Product Active 
                                </label>
                                <input class="form-check-input ml-lg-4" style="width: 82px;" type="checkbox" id="gridCheck">
                              </div>
                            <div class="col-12 mt-3 text-end">
                                <button class="btn px_btn btn-master-line py-1 close_model" style=" background: aliceblue;" data-bs-dismiss="modal" aria-label="Close">NO</button>
                                <button  style=" background: aliceblue;" class="btn px_btn btn-master ms-2 py-1 status_change_yes" >YES</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
          <div class="mt-3" style="background: white;">
            <div class="table_type01">
                <div class ="overflow-x-auto">
                    <table id="product_table" class="table table-bordered pb-2" width="100%">
                        <thead>
                            <tr role="row">
                                <th class="wd-5p">No.</th>
                                <th>Customer Name</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Description</th>
                                <th>Discount</th>
                                <th>Upload Image</th>
                                <th>Created Date</th>
                                <th>is_active</th>
                                <th>Active/Inactive</th>
                                <th>Sell</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
       
    </body>
    {% include 'base_scripts.html' %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.3/datatables.min.js"></script>
    <script>
        var update_name = ""
        $("#product_table").DataTable({
            "bLengthChange": false,
            "serverSide":true,
            "processing":true,
            "pageLength":5,
            "searching":false,
            "lengthChange": false,
            "scrollX": true,
            ajax: {
            url:  `/ecom/product_details_tb/?type=table`,
            headers: {
                "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val(),
            },
            data: function (data) {
                
                delete data.columns;
            },
     
            },
            bDestroy: true,
            // Column Starts
            columns: [
            {
                data: null,
                "sortable": false,
                render: function(data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }
            },
            //{ data: "channel.name", "sortable": true },
            { data: "products_user" ,"sortable": true},
            {
                "data": "products_name",
                className: "center",
                "sortable": true,
            },
           
            { data: "price" ,"sortable": true},
            { data: "description" ,"sortable": true},
            { data: "discount" ,"sortable": true},
            {
                "sortable": true,
                "data": "image_data",
                "className": "center",
                "render": function (data, type, row, meta) {
                    if (row.image_data != "") {
                        data = "<img style='width:180px' src='" + row.image_data + "'>";
                        return data;
                    }
                    else {
                        data = "None"
                        return data;
                    }
                }
            },
            { data: "created_date" ,"sortable": true},
            { data: "is_active" ,"sortable": true},
                {
                    data: null,
                    className: "center displayblock",
                    render: function(data, type, row, meta) { 
                        data =
                            '<div>' +
                            '<button data-name='+row.products_name+' data-uniqueid='+row.customers_id+' class="btn btn-outline-success my-2 my-sm-0 edit_btn"  type="button" >Edit</button></div>';
                        return data;
                        
                    },
                  },    
                  {
                    data: null,
                    className: "center displayblock",
                    render: function(data, type, row, meta) { 
                        data =
                            '<div>' +
                            '<button data-uniqueid='+row.customers_id+' class="btn btn-outline-success my-2 my-sm-0 sell"  type="button" >Sell</button></div>';
                        return data;
                        
                    },
                  },    

            ],
            "drawCallback": function (settings) { 
            // Here the response
            var response = settings.json;
            console.log(response);
        },
     
     
            responsive: true,
            language: {
            searchPlaceholder: "Search...",
            sSearch: "",
            lengthMenu: "_MENU_ items/page",
            },
     
            order: [[5, "desc"]]
        });
        $(document).on('click','.edit_btn',function(e){
            update_name =  e.currentTarget.getAttribute('data-name');
           $('#Unarchived_modal').modal('show');
        })
        $('.status_change_yes').on('click',function(){
            let is_active;
           $('#gridCheck').is(':checked')?is_active = true:is_active = false
           $.ajax({
            url: "/ecom/update_status",
            type: "POST",
            headers: {
              "X-CSRFToken": $("input[name=csrfmiddlewaretoken]").val()
            },
            data: JSON.stringify({
                is_active: is_active,
                products_name:update_name
                //image_data:image_data
            }),
            contentType: "application/json",
            success: function(data) {
              if (data.status === 200) {
                alert("Success!");
                url=  '/ecom/product_details_tb/?type=table',
                table = $("#product_table").DataTable();
                table.ajax.url(url).load();
                $('#Unarchived_modal').modal('hide');
              }
            },
            error: function(jqXHR, exception) {
              console.log(exception);
            }
          });
        });

        $('.close_model').on('click', function(){
            $('#Unarchived_modal').modal('hide');
        })
    </script>
</html>


